* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item-conteiner{
    height: 500px;
    position: relative;
}

.item-conteiner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.item-conteiner .text-container{
    position: absolute;
    bottom: 5%;
    right: 5%;
}